* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@import'./partials/welcome';
@import'./partials/navbar';
@import'./partials/footer';
@import'./partials/main';
@import'./partials/show';
@import'./partials/createBtn';
@import'./partials/create';